.login_container{
    align-self: center;
    display: flex;
    flex-direction: row;
    height: 98vh;
    overflow: hidden;
}

.login_wrapper{
    width: 50%;
    align-self: center;
}

.background{
    width: 50%;
    background-color: var(--own-success);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes little_rotation {
    from {
        transform: rotate(10deg);
    }
    to {
        transform: rotate(-10deg);
    }
  }

.background_title{
    color: white;
}

.background_title:hover{
    cursor: pointer;
    animation: little_rotation 1200ms infinite;
}

.background_link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.background_link:visited{
    color: white;
}

.form_container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    padding: 0 5%;
}

.form_container_title{
    align-self: center;
}

.box_form{
    width: 65%;
    align-self: center;
    display: flex;
    flex-direction: column;
    box-shadow:1px 1px 5px black;
    border-radius: 20px;
    padding: 2% 5%;
}

.form_element{
    width: 20%;
}