.btn_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 18rem;
    border: 1px solid black;
    border-radius: 20px;
}

.card_img{
    border-radius: 20px;
}