.detail_container{
    width: 100%;
    height: 100vh;
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.detail_container > h1{
    align-self: center;
}

.logo_background{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image_container > *{
    width: 20%;
    border-radius:100%;
}

.form_opinion{
    border-left: 1px solid black;
    width: 50%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.input_containers{
    display: flex;
    flex-direction: column;
    width: 100%;
}