.nav_container{
    width: 100%;
    height: 5%;
    padding: 1%;
    background-color: var(--own-primary);
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.title{
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.link{
    color: white;
    text-decoration: none;
}

.title > h1{
    align-self: center;
}

.options_nav{
    width: 80%;
    border:1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
}