.signup_wrapper{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_form {
    align-self: center;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow:1px 1px 5px black;
    border-radius: 20px;
    margin-top: 2%;
    padding: 2% 5%;
}

.form_control{
    width: 100%;
}

.alert{
    position: absolute;
    top: 0;
    right: 20px;
}