:root{
    --own-primary:#2C3E50;
    --own-information:#2C81BA;
    --own-success:#14a085;
    --own-purple:#593196;
    --own-secondary:#7B8A8B;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  @media screen and (max-width:1000px) {
    .general {
        width: 90%;
        margin: 5% auto;
    }
  }